.container {
  width: 75%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  border-radius: 0.3rem;
  box-shadow: 0 0 20px hsl(265, 33%, 79%);
  display: flex;
  justify-content: center;
  align-items: center;
}
