.container {
  width: 80%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  height: 30vh;
  border-radius: 0.3rem;
  box-shadow: 0 0 20px hsl(265, 33%, 79%);
  display: flex;
  flex-direction: column;
  /* row-gap: 1rem; */
  justify-content: center;
  align-items: center;
}

h1 {
  white-space: nowrap;
  font-size: 1.3rem;
  font-weight: 700;
  color: hsl(332, 87%, 61%);
  margin-bottom: 1rem;
}

select {
  border: none;
  padding: 0.4rem;
  outline-color: hsl(265, 33%, 59%);
  font-size: medium;
  border-radius: 0.3rem;
  box-shadow: 0 0 3px gray;
  width: 5rem;
  color: hsl(265, 33%, 39%);
  font-weight: 600;
}

input {
  border: none;
  padding: 0.4rem;
  outline-color: hsl(265, 33%, 59%);
  color: hsl(265, 33%, 39%);
  font-size: medium;
  border-radius: 0.3rem;
  box-shadow: 0 0 3px gray;
}

.from-row {
  display: flex;
  column-gap: 0.5rem;
}

.to-row {
  display: flex;
  column-gap: 0.5rem;
  flex-direction: row-reverse;
}

.equal {
  font-size: x-large;
  font-weight: 700;
  color: hsl(332, 87%, 61%);
}
