.container {
  width: 80%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  border-radius: 0.3rem;
  box-shadow: 0 0 20px hsl(265, 33%, 79%);
  display: flex;
  flex-direction: column;
  /* row-gap: 1rem; */
  justify-content: center;
  align-items: center;
}

h1 {
  white-space: nowrap;
  font-size: 1.3rem;
  font-weight: 700;
  color: hsl(332, 87%, 61%);
  margin-bottom: 1rem;
}

select {
  border: none;
  padding: 0.4rem;
  outline-color: hsl(265, 33%, 59%);
  font-size: medium;
  border-radius: 0.3rem;
  box-shadow: 0 0 3px gray;
  width: 5rem;
  color: hsl(265, 33%, 39%);
  font-weight: 600;
}

input {
  border: none;
  padding: 0.4rem;
  outline-color: hsl(265, 33%, 59%);
  color: hsl(265, 33%, 39%);
  font-size: medium;
  border-radius: 0.3rem;
  box-shadow: 0 0 3px gray;
}

button {
  margin-top: 2rem;
  width: 7rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 1.2rem;
  background-color: hsl(265, 33%, 39%);
  color: white;
  box-shadow: 0 0 20px hsl(265, 33%, 59%);
  transition: transform 0.2s ease;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

.top-row {
  display: flex;
  column-gap: 0.5rem;
}

.bottom-row {
  display: flex;
  column-gap: 0.5rem;
  flex-direction: row-reverse;
}

.equal {
  font-size: x-large;
  font-weight: 700;
  color: hsl(332, 87%, 61%);
}
